body{
	margin: 0;
}

.content{
	width: 50%;
	margin: 0 auto;
	padding: 1em 1em 1em 1em;
}

#input{
	background-color: #a8ff9e;
}

#output{
	background-color: #9effec;
}

textarea{
	width: 100%;
	height: 30em;
	margin-bottom: 1em;
}